@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #373b69;
  padding: 0.5rem;
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.4rem 1.5rem;
  position: relative;
  transition: 0.2 all;
}

.active {
  color: #22254b;
}

nav .search-container {
  /* float: right; */
}

nav input[type="text"] {
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px solid #22254b;
  background-color: transparent;
  color: #fff;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}

nav input[type="text"]:focus {
  outline: none;
}

.page-heading {
  user-select: none;
  margin: 20px;
  text-align: center;
  font-size: 50px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* .search {
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px solid #22254b;
  background-color: transparent;
  color: #fff;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
} */

/* .search:focus {
  outline: none;
} */

@media screen and (max-width: 800px) {
  nav .search-container {
    float: none;
  }

  nav {
    /* text-align: center; */
    flex-direction: column;
  }

  nav .nav-link {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  /* nav .nav-link.not-active-bars {
    display: none;
  } */

  nav .nav-link .active-bars {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.movie {
  background-color: #373b69;
  border-radius: 50px 50px 0px 0px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
  height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-bottom: 0px;
}

.movie:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.movie-img {
  width: 100%;
  height: 70%;
}

/* 
.movie_info h3 {
  font-size: 20px;
} */

.movie_info {
  display: block;
}

.playbutton_icon {
  width: 20%;
  position: absolute;
  margin-top: -40px;
  right: 20px;
}

/* .movie_info h3 {
  font-size: 15px;
  padding-top: 0px;
  padding-left: 20px;
  width: 250px;
} */

.normal_title {
  font-size: 18px;
  padding-top: 15px;
  padding-left: 20px;
  width: 250px;
}

.small_title {
  font-size: 15px;
  padding-top: 0px;
  padding-left: 20px;
  width: 230px;
}

.rating {
  padding: 5px 0px 5px 20px;
  width: 200px;
}

.small_title ~ .rating {
  padding-top: 5px;
}

.heart_icon {
  cursor: pointer;
  padding: 10px 12px 10px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  top: 20px;
  right: 20px;
  color: #aaa;
  transition: 0.2s;
  position: absolute;
}

.delete_icon {
  cursor: pointer;
  /* padding: 10px; */
  /* background: #fff; */
  border-radius: 60%;
  display: inline-block;
  top: 20px;
  font-size: 30px;
  right: 20px;
  color: #aaa;
  transition: 0.2s;
  position: absolute;
}

.delete_icon:before {
  font-family: fontawesome;
  content: "\f1f8";
  font-style: normal;
}
.delete_icon:hover {
  animation: size 0.4s;
  color: #e23b3b;
}

.heart_icon:before {
  font-family: fontawesome;
  content: "\f004";
  font-style: normal;
}

.heart_icon.pressed {
  animation: size 0.4s;
  color: #e23b3b;
}

.movie_info h3 {
  margin: 0;
}

.movie-overview {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  background-color: white;
  color: #22254b;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

.read-more {
  padding: 0px 0px 20px 20px;
  position: absolute;
  bottom: -10;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
}

.tag {
  background-color: #22254b;
  padding: 0.2rem;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 10px;
}

.tag.green {
  color: green;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  margin-top: -5px;
  margin-bottom: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 250px;
  border-radius: 10px;
  margin-top: 15px;
}

.read-more-button {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid #f44336;
}

.read-more-button:hover {
  background-color: #f44336;
  color: white;
}

.snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgba(0, 255, 200, 0.8); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
