@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  /* justify-content: flex-end; */
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.4rem 1.5rem;
  position: relative;
}

.nav-link .logo {
  position: absolute;
  width: 150px;
  top: -9px;
  left: -90px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search {
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px solid #22254b;
  background-color: transparent;
  color: #fff;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: none;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.movie:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.movie-img {
  max-width: 100%;
}

.movie_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.heart_icon {
  cursor: pointer;
  padding: 10px 12px 10px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  top: 20px;
  right: 20px;
  color: #aaa;
  transition: 0.2s;
  position: absolute;
}

.delete_icon {
  cursor: pointer;
  /* padding: 10px; */
  /* background: #fff; */
  border-radius: 60%;
  display: inline-block;
  top: 20px;
  font-size: 30px;
  right: 20px;
  color: #aaa;
  transition: 0.2s;
  position: absolute;
}

.delete_icon:before {
  font-family: fontawesome;
  content: "\f1f8";
  font-style: normal;
}
.delete_icon:hover {
  animation: size 0.4s;
  color: #e23b3b;
}

.heart_icon:before {
  font-family: fontawesome;
  content: "\f004";
  font-style: normal;
}

.heart_icon.pressed {
  animation: size 0.4s;
  color: #e23b3b;
}

.movie_info h3 {
  margin: 0;
}

.movie-overview {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  background-color: white;
  color: #22254b;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

.read-more {
  padding: 0px 0px 20px 20px;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
}

.tag {
  background-color: #22254b;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}

.tag.green {
  color: green;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  margin-top: -5px;
  margin-bottom: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100px;
  border-radius: 10px;
}

.read-more-button {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid #f44336;
}

.read-more-button:hover {
  background-color: #f44336;
  color: white;
}

.snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgba(0, 255, 200, 0.8); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} */
